@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
    background-color: #1E2326 !important;
}
.js .cd-h-timeline__dates::before {
    background: linear-gradient(to right, #1E2326 0%, #1E232600 100%) !important;
}
.js .cd-h-timeline__dates::after {
    background: linear-gradient(to left, #1E232600 100%, #1E2326 0%) !important;
}
.js .cd-h-timeline__line {
    background-color: #3C4841 !important;
}
.js .cd-h-timeline__navigation {
    border-color: #3C4841 !important;
}
.js .cd-h-timeline__navigation:hover {
    border-color: #A7C080 !important;
}
.js .cd-h-timeline__navigation--inactive:hover {
    border-color: #3C4841 !important;
}
:root {
    --cd-color-1: #859289 !important;
    --cd-color-2: #A7C080 !important;
}
.js .cd-h-timeline__event-title {
    color: #D3C6AA !important;
    font-family: 'IBM Plex Serif', serif !important;
}
.js .cd-h-timeline__event-date {
    color: #D3C6AA;
    font-family: 'IBM Plex Serif', serif;
}